<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <!-- 声明Servlet对象 -->
    <servlet-name>dispatcher</servlet-name>
    <!-- 上面一句指定Servlet对象的名称 -->
    <servlet-class>gupaoedu.delegate.mvc.controller.DispatcherServlet</servlet-class>
    <!-- 上面一句指定Servlet对象的完整位置，包含包名和类名 -->
  </servlet>
  <servlet-mapping>
    <!-- 映射Servlet -->
    <servlet-name>dispatcher</servlet-name>
    <!--<servlet-name>与上面<Servlet>标签的<servlet-name>元素相对应，不可以随便起名  -->
    <url-pattern>/*</url-pattern>
    <!-- 上面一句话用于映射访问URL -->
  </servlet-mapping>
</web-app>
